# Ignore node_modules directory
node_modules/

# Ignore dependencies lock file
package-lock.json

# Ignore log files
*.log

# Ignore compiled files
*.exe
*.dll
*.so
*.dylib

# Ignore IDE-specific files
.vscode/
.idea/